%title ログイン - メルカリ スマホでかんたん フリマアプリ
%body
  .contents
    = render "shared/userHeader"
    .ident-main
      .ident-main__login-form
        .text-center
          あなたの情報を守るために
          %br>/
          再度ログインを行ってください。
        .ident-main__login-form__fb-btn
          .ident-main__login-form__fb-btn__icon
            %i.fab.fa-facebook
          Facebookでログイン
        .ident-main__login-form__ggl-btn
          .ident-main__login-form__ggl-btn__icon
            %img{:alt => "google", :height => "20", :src => "http://ivystar.jp/uploads/2015/09/150907-google-icon.png", :width => "30"}/
          Googleでログイン
      .ident-main__login-form
        %input.ident-main__login-form__form-group__inform{:placeholder => "メールアドレス"}/
        .ident-main__login-form__form-group
          %input.ident-main__login-form__form-group__inform{:placeholder => "パスワード"}/
        .ident-main__login-form__form-group
          .ident-main__login-form__form-group__rc-anc
            .ident-main__login-form__form-group__rc-anc__cbox
            .ident-main__login-form__form-group__rc-anc__ctext
              私はロボットではあり
              %br>/
              ません
            .ident-main__login-form__form-group__rc-anc__footter
              .ident-main__login-form__form-group__rc-anc__footter__logo-img
              .ident-main__login-form__form-group__rc-anc__footter__logo-text reCAPTCHA
              .ident-main__login-form__form-group__rc-anc__footter__logo-text2
                .ident-main__login-form__form-group__rc-anc__footter__logo-text2__b1 プライバシ
                .ident-main__login-form__form-group__rc-anc__footter__logo-text2__b2 -
                .ident-main__login-form__form-group__rc-anc__footter__logo-text2__b3 利用規約
          .ident-main__login-form__form-group
            .ident-main__login-form__form-group__login-btn ログイン
            .ident-main__login-form__form-group__pass-forget パスワードをお忘れの方
      = render "shared/userFootter"
