$backWhite     :        #ffffff;
$backGray1     :        #f5f5f5;
$backGray2     :        #eee;
$fontDarkBlack  :       #333;
$facebookBlue   :       #385185;
$loginRed       :       #ea352d;
$linkBlue       :       #0099e8;
$btnGray1       :       #eee;
$btnGray2       :       #ccc;
