= render "shared/headerLogin"
.wrapper
  .bread-area
    .bread-crumbs
      - breadcrumb :logout
      = breadcrumbs separator: " &gt; "
  .l-contener-logout
    .l-contener-logout__box
      .l-contener-logout__box__btn
        =link_to(destroy_user_session_path, method: :delete, :style=>"color:white") do
          ログアウト
    = render "shared/sidecontent"
= render "shared/footer"
