= render "shared/headerLogin"
.wrapper
  = render "shared/breadCrumbs"
  .l-contener-logout
    .l-contener-logout__box
      .l-contener-logout__box__btn
        ログアウト
    = render "shared/sidecontent"
= render "shared/footer"
