= render "shared/headerLogin"
.wrapper
  = render "shared/breadCrumbs"
  .l-contener
    .l-contener__box
      .l-contener__box__btn
        ログアウト
    = render "shared/sidecontent"
= render "shared/footer"
