%nav.bread-crumbs
  %ul
    %li{:itemtype => "http://data-vocabulary.org/Breadcrumb", :timescope => ""}
      %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
        %span{:itemprop => "title"} メルカリ
      %i.fas.fa-chevron-right
    %li{:itemtype => "http://data-vocabulary.org/Breadcrumb", :timescope => ""}
      %a{:href => "https://www.mercari.com/jp/mypage/", :itemprop => "url"}
        %span{:itemprop => "title"} マイページ
      %i.fas.fa-chevron-right
    %li{:itemtype => "http://data-vocabulary.org/Breadcrumb", :timescope => ""}
      %a{:href => "https://www.mercari.com/jp/mypage/card/", :itemprop => "url"}
        %span{:itemprop => "title"} 支払方法
      %i.fas.fa-chevron-right
    %li{:itemtype => "http://data-vocabulary.org/Breadcrumb", :timescope => ""}
      %span{:itemprop => "title"} クレジットカード情報入力
