      <div class="pickup-cont__item__flame__box">
        <img src=https://static.mercdn.net/thumb/photos/m49603591178_1.jpg?1553404442 height: "213", width="213" class="pickup-cont__item__flame__box__size" >
        <div class="pickup-cont__item__flame__box__body" >
          <div class="pickup-cont__item__flame__box__body__name">リンドールチョコレート、美味しいで。</div>
          <div class="pickup-cont__item__flame__box__body__num">
            <div class="pickup-cont__item__flame__box__body__num__val">
          ¥ 12,800</div>
            <div class="pickup-cont__item__flame__box__body__num__tax">
          (税込)</div>
          </div>
        </div>
      </div>
