.l-contener
  .l-contener__side
    %nav.my_page
      %ul
        %li.l-contener__side__box__active
          マイページ
          .l-contener__side__box__awe2
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          お知らせ
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          やることリスト
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          いいね！一覧
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          出品する
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          出品した商品-出品中
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          出品した商品-取引中
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          出品した商品-売却済み
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          購入した商品-取引中
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          購入した商品-過去の取引
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          ニュース一覧
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          評価一覧
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          ガイド
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          お問い合わせ
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
    %nav.my_page
      %nav.my-page__head メルペイ
      .my-page__space
      %ul
        %li.l-contener__side__box
          売上・振込申請
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %li.l-contener__side__box
          ポイント
          .l-contener__side__box__awe
            %i.fas.fa-chevron-right
        %nav.my_page
          %nav.my-page__head 設定
          .my-page__space
          %ul
            %li.l-contener__side__box
              プロフィール
              .l-contener__side__box__awe
                %i.fas.fa-chevron-right
            %li.l-contener__side__box
              発送元・お届け先住所変更
              .l-contener__side__box__awe
                %i.fas.fa-chevron-right
            %li.l-contener__side__box
              支払い方法
              .l-contener__side__box__awe
                %i.fas.fa-chevron-right
            %li.l-contener__side__box
              メール/パスワード
              .l-contener__side__box__awe
                %i.fas.fa-chevron-right
            %li.l-contener__side__box
              本人情報
              .l-contener__side__box__awe
                %i.fas.fa-chevron-right
            %li.l-contener__side__box
              電話番号確認
              .l-contener__side__box__awe
                %i.fas.fa-chevron-right
            %li.l-contener__side__box
              = link_to 'ログアウト', logout_user_path, :style=>"color:black"
              .l-contener__side__box__awe
                %i.fas.fa-chevron-right
