.ident-footter
  %ul.ident-footter__single
    %li
      %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
    %li
      %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
    %li
      %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    %a.ident-footter__single__logo{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3574217673", :width => "80"}/
    %p
      %font{:size => "1"} © 2019 Mercari
