.bread-area {
  width: 1440px;
  height: 52px;
  border-top: 1px solid #eee;
  border-bottom: 3px solid rgba(0,0,0,0.16);
  line-height: 49px;
  font-size: 14px;
  background: #fff;
}
.bread-crumbs {
  width: 1020px;
  height: 52px;
  margin: 0 auto;
    & a {
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
