.bread-crumbs {
  height: 52px;
  border-top: 1px solid #eee;
  border-bottom: 3px solid rgba(0,0,0,0.16);
  padding: 0 450px;
  line-height: 49px;
  font-size: 14px;
  background: #fff;
    & a {
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
