.wrapper{
  background-color: backGray1;
  .l-container{
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    width: 1020px;
    .mypage{
      width: 1020px;
      margin-left: 40px;
      padding: 50px 0 24px 0;
      background-image: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?66975585");
      position: relative;
      &__icon{
        height: 200px;
        width: 700px;
        padding: 20px;
        position: absolute;
        top: 50px;
        &__figure{
          &__img{
            border-radius: 50%;
            margin-left: 300px;
          }
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 15px;
          }
        }
        &__number{
          display: flex;
          text-align: center;
          margin-top: 8px;
          margin-left: 280px;
          font-size: 14px;
          &__exhibit{
            margin-left: 16px;
          }
        }
      }
      &__container{
        background-color: white;
        margin-top: 150px;
        &__tabs{
          display: flex;
          font-size: 16px;
          font-weight: bold;
          height: 74px;
          line-height: 74px;
          text-align: center;
          &__notice{
            width: 350px;
            margin: 0 auto;
            border-top: solid 2px red;
          }
          &__todo{
            width: 350px;
            background-color: #eee;
          }
        }
        &__tabs-content{
          font-size: 14px;
          background-color: backGray1;
          &__notification{
            li{
              background-color: white;
              padding: 16px;
              margin-bottom: 1px;
              position: relative;
              figure{
                .lazyloaded{
                  display: inline-block;
                  height: 48px;
                  float: left;
                }
                .mypage-item-text{
                  display: inline-block;
                  vertical-align: middle;
                  width: 600px;
                  margin-left: 10px;
                }
                .notice-time{
                  color: gray;
                  margin-left: 65px;
                }
              }
              .fa-chevron-right{
                position: absolute;
                top: 50%;
                right: 15px;
              }
            }
            .mypage-go-list{
               background-color: #fff;
               padding: 16px;
               list-style: none;
               margin: 0 auto;
               text-align: center;
               line-height: 56px;
              &-link {
                width: 668px;
                height: 56px;
                background-color: #eee;
                a:link{
                color: black;
                }
              }
            }
          }
        }
      }
      &__container__history{
        margin-top: 40px;
        background-color: white;
        width: 700px;
        font-size: 16px;
        &__head{
          display: block;
          padding-left: 10px;
          height: 74px;
          font-weight: bold;
          line-height: 74px;
          background-color: #fafafa;
        }
        &__tabs{
          display: flex;
          font-weight: bold;
          height: 74px;
          line-height: 74px;
          text-align: center;
          &__tab{
            width: 350px;
            text-align: center;
            &__trading{
              border-top: solid 2px red;
            }
            &__history{
              background-color: #eee;
            }
          }
        }
        &__content{
          &__now{
            padding: 160px 0 60px;
            background: url("https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?32807650");
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 78px 85px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
            font-weight: bold;
          }
        }
      }
    }
  }
}

