= render "shared/headerLogin"
.wrapper
  .bread-crumbs
    - breadcrumb :destroy
    = breadcrumbs separator: " &gt"
  .l-contener-logout
    .l-contener-logout__box
      .l-contener-logout__box__btn
        商品が削除されました。
    = render "shared/sidecontent"
= render "shared/footer"
